 
          body{
            background-color: rgb(231, 170, 164);
          }
        .parent{background-color: rgb(198, 153, 153);
            display: flex;
            justify-content: center;
            align-items: 50vh;
height: 100vh;

        }
        .childOne{
            background-color: black;
            color: rgb(255, 255, 255);
            height: 400px;
            width: 100vh;
        }
        
        img{
           height: 400px;
           width: 100vh;
        }
        .childTow{
           height: 400px;
           width: 100vh; }
          .navbar{
            align-items: center;
            display: flex;
            height: 8vh;
            padding: 10px 100px;
            background-color: aqua;
            font-family: "Pacifico", cursive;
          }
        
        .logo {
            flex: 1;
img{
    width: 100px;
}
        }
        .menus {
            flex: 3;
        }
        .menus ul{
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            list-style-type: none;
            
        }
        .menus ul li a{
text-decoration: none;
        }
        